.logo {
    max-height: 40px;
    width: 100px;
}
.dflex{
    display: flex;
    justify-content: end;
}
.d-flex >h3{
margin-bottom: 2px;
color: rgb(14, 14, 54);

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}