.inputs {
    width: 400px;
    height: fit-content;
    display: flex;
    margin-left: 35.2%;
    margin-top: 30px;
    padding-bottom: 10px;
    justify-content: center;
    background: url("https://thumbs.dreamstime.com/b/cleaning-seamless-pattern-endless-background-texture-wallpaper-vector-illustration-81667676.jpg");
}
.heading {
    font-size: 80px;
    font-weight: 600;
    font-family: fantasy;
    color: rgb(196, 196, 20);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    fill: transparent;
}
h3,p {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(227, 243, 8);
    text-shadow: 0 0 5px #460808, 5 0 8px #0d0d29;
}
.FormValid{
    background: url("https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg");
    background-size: cover;

}

.myform> p {
    font-family: 'Times New Roman', Times, serif;
    color: #FF0000;
    margin-bottom: -10px;
}